body{
    background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
    height: 10vh;
    margin: 0;
    overflow: hidden;
}

.image {
    width: 25vmin;
    position: absolute;
    transform: translate(50%, 50%);
}

.image[data-status="inactive"]{
    display: none;
}

.image[data-status="active"]{
    display: block;
}